* {
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
body {
    margin: 0;
    padding: 0;
}
.ui {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
    left: 0;
    top: 0;
    background: url('../assets/screenshot.png');
    width: 800px;
    height: 600px;
}

.ui.game-over {
    color: white;
}

.content {
    background: rgba(0, 0, 0, .5);
    padding: 16px 48px;
    color: #eee;
    text-align: center;
}
button {
    display: block;
    cursor: pointer;
    background: #343064;
    border: 2px solid #2e2467;
    color: white;
    font-size: 20px;
    padding: 8px 32px;
    margin: 8px;
}
button.small {
    padding: 6px 18px;
    font-size: .8em;
}

.hidden {
    display: none;
}
.about-button {
    position: absolute;
    right: 8px;
    top: 8px;
    text-decoration: none;
    width: 24px;
    height: 24px;
    border: 1px solid white;
    border-radius: 12px;
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: #343064;
}

.points {
    position: absolute;
    text-align: right;
    width: 200px;
    color: white;
    top: 8px;
    left: 592px;
    z-index: 20000;
    text-align: right;
    font-size: 20px;
}

.points_summary {
    font-size: 20px;
}
